.modal {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 528px;
    height: 581px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    transform: translate(-50%, -50%) scale(100%);

    border-radius: 4px;
    background-color: $bg-color-modal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0%) rotate3d(1, 1, 1, 45deg);
}

.modal__close {
    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $bg-color-modal;
    cursor: pointer;

    &:hover .modal__icon,
    &:focus .modal__icon {
        fill: $text-color-accent;
    }
}

.modal__heading {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}