.site-nav {
    margin-left: 93px;
}

.site-nav__list {
    display: flex;
}

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__link {
    @extend %link;

    &--current {
        color: $text-color-accent;

        &::after {
                position: absolute;
                left: 0;
                bottom: -1px;
        
                content: '';
                display: block;
                height: 4px;
                width: 100%;
        
                border-radius: 2px;
                background-color: $text-color-accent;
            }
    }
}