.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    margin-top: 64px;

    @media screen and (min-width: $tablet-min) {
        display: none;
    }
}

.social-links__item {
    position: relative;

    &:not(:last-child) {
        padding-right: 20px;

        &::after {
            content: "";
            position: absolute;
            bottom: 50%;
            width: 22px;
            height: 1px;
            background-color: $bg-color-separator;
            transform: rotate(90deg);   
        }
    }
}

.social-links__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $text-color-accent;
}